* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: #fafafa;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  min-width: 300px;
}

.container input {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px #ccc;
  width: 100%;
  font-size: 10px;
}

.container button {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  transition: 500ms;
}

.container button:hover {
  background-color: #4e54ff;
  color: #fff;
}

.message-container {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message-container img {
  margin-top: 10px;
  border-radius: 5px;
}

.message-container #img {
  transition: 500ms;
}

.message-container #img:hover {
  transform: scale(2);
  box-shadow: 1px 5px 10px 0 rgba(0, 0, 0, 0.8);
}

.message-container a#link {
  margin-top: 3px;
  border-radius: 3px;
}

.message-container a#link:hover {
  background-color: #4e54ff;
  color: #fff;
}

a {
  text-decoration: none;
  color: rgba(123, 32, 146, 0.842);
  cursor: pointer;
}

.hidden {
  margin-top: 5px;
  display: none;
}

.message-container #message p {
  display: inline;
}

.message-container .type-writer-cursor::after {
  content: '|';
  opacity: 1;
  animation: typeWriterCursor 700ms infinite;
}

@keyframes typeWriterCursor {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}